* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,154,68, 0.8);
}

.header-body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20rem;
}

.logo img {
    max-width: 100%;
    text-align: center;
    display: block;
}

.menu-list {
    display: flex;
    margin-bottom: 0;
}

.menu-list li {
    list-style: none;
    margin-left: 12px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/*Toggle button*/
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 30px;
  width: 50px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #fff;
  background: #E56317;
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  background: #09B022;
}
.toggle:checked:after {
  transform: translatex(20px);
}


#main-image{
   background-image: url("./images/street-party.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding-top: 80px;
}
.half-white{
  height: 820px;
  width: 50%;
  background-color: rgba(252, 249, 249, 0.9);
  float: right;
  position: relative;
}

.intro-text{
    height: 200px;
    width: 100%;
}
.text-image{
    text-align: center;
    margin: 30px;
    

}
hr:not([size]) {
    height: 10px;
}

hr {
    margin: 0;
    color: inherit;
    background-color:rgb(226 184 66);
    border: 0;
    opacity:1;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}
#main-image h6 {
color:rgb(88, 88, 97);
}


 #main-image .btn-primary {
    background-color: rgb(40,174,96);
    border-color: rgb(24, 131, 69) ;
    margin-left:40%
 
}
@media screen and (max-width: 800px){
    .half-white{
    height: 200px;
    width: 100%;
    background-color: rgba(252, 249, 249, 0.9);
    float: bottom;
    position: absolute;
    }

    .intro-text{
        height: 100px;
        width: 100%;
    }
    .text-image{
        text-align: center;
        margin: 30px;
    }
}