
#main-image{
   background-image: url("./images/street-party.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
   
}
.half-white{
  height: 820px;
  width: 50%;
  background-color: rgba(252, 249, 249, 0.9);
  float: right;
  position: relative;
}

.intro-text{
    height: 200px;
    width: 100%;
}
.text-image{
    text-align: center;
    margin: 30px;
    

}
hr:not([size]) {
    height: 10px;
}

hr {
    margin: 0;
    color: inherit;
    background-color:rgb(226 184 66);
    border: 0;
    opacity:1;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}
#main-image h6 {
color:rgb(88, 88, 97);
}


 #main-image .btn-primary {
    background-color: rgb(40,174,96);
    border-color: rgb(24, 131, 69) ;
    margin-left:40%
 
}
@media screen and (max-width: 800px){
.half-white{
  height: 200px;
  width: 100%;
  background-color: rgba(252, 249, 249, 0.9);
  top: 365px;
  position: absolute;
  
}

.intro-text{
    height: 100px;
    width: 100%;
}
.text-image{
    text-align: center;
    margin: 30px;
}
#main-image{
height:360px;
}