
/* QUIZ CSS. by WYNE  */

*, *::before, *::after {
  box-sizing: border-box;
}

#heading {
    text-align: center;
    justify-content: center;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    margin-top: 10rem;
    margin-bottom: 3rem;
}

#score, #postCard-Heading, #postCardQuote {
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

#postCard-Heading {
    padding: 6rem 10rem 2rem 10rem;
}

body {
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: green;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  justify-content: center;
  align-items: center;
}

.cta {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-btn:hover {
    background-color: darkgreen;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 25px;
}

.cta-btn {
    background-color: green;
    margin: 0 3rem 3rem 3rem;
    padding: 5px 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color:orange;
}

.start-btn, .next-btn, .submit-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.btn.correct {
    background-color: orange;
}

.btn.wrong {
    background-color: darkgreen;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.postCard {
    margin-top: 10rem;
}

.postCard-1,
.postCard-2,
.postCard-3,
.postCard-4,
.postCard-5,
.postCard-6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 40%);
}
.postCard-1 {
    background-image: url('images/card-1.jpg');
}
.postCard-2 {
    background-image: url('images/card-2.jpg');
}
.postCard-3 {
    background-image: url('images/card-3.jpg');
}
.postCard-4 {
    background-image: url('images/card-4.jpg');
}
.postCard-5 {
    background-image: url('images/card-5.jpg');
}
.postCard-6 {
    background-image: url('images/card-6.jpg');
}

/* Background Styles Only */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-x: hidden;
}

@media only screen and (max-width:600px) {
    .container{
        width: 400px;
    }

    #heading {
        margin-top: 8rem;
        padding: 0 2rem;
    }

    #postCardQuote {
        padding: 0 12rem;
    }

    .cta {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    #postCard-Heading {
        padding: 6rem 7rem 2rem 10rem
    }
}
