@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body h1, h2, h3, h4, h5, h6{
font-family: 'Cabin', sans-serif;
}

p{
 font-family: 'abel', sans-serif; 
}

#main-image{
   background-image: url("./images/irish.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}

.half-white{
  height: 820px;
  width: 50%;
  background-color: rgba(252, 249, 249, 0.9);
  float: right;
  position: relative;
}

.mute{
    text-align: center;
    margin: 10px 40px 40px 40px;
}


hr:not([size]) {
    height: 10px;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 0;
    color: inherit;
    background-color:rgb(226 184 66);
    border: 0;
    opacity:1;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

#main-image h6 {
color:rgb(88, 88, 97);
}

 #main-image .btn-primary {
    background-color: rgb(40,174,96);
    border-color: rgb(24, 131, 69) ;
    margin-left:47%;
}
/* @media screen and (max-width: 800px){
.half-white{
  height: 200px;
  width: 100%;
  background-color: rgba(252, 252, 252, 1
  );
  top: 365px;
  position: absolute;
  
} */

.intro-text{
    height: 100px;
    width: 100%;
}

.text-image{
    text-align: center;
    margin: 12rem 40px 10px 40px;
}

img{
    left: 50%;
    height:50%;
    position: absolute;
    margin-bottom: 10%;
}

/* QUIZ CSS. by WYNE  */

*, *::before, *::after {
  box-sizing: border-box;
}

#heading {
    margin-bottom: 4rem;
    margin-top:3rem;
    text-align: center;
    justify-content: center;
}

body {
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 300vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: green;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-weight: bold;
}

.btn:hover {
  background-color:orange;
}

.start-btn, .next-btn, .submit-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.btn.correct {
    background-color: orange;
}

.btn.wrong {
    background-color: darkgreen;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Background Styles Only */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
    overflow-x: hidden;
}

