

/* QUIZ CSS. by WYNE  */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: green;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  background-color:orange;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.btn.correct {
    background-color: orange;
}

.btn.wrong {
    background-color: green;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* Background Styles Only */
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
}

