
/* QUIZ CSS. by WYNE  */

*, *::before, *::after {
  box-sizing: border-box;
}

#heading {
    text-align: center;
    justify-content: center;
}

#score, #postCard-Heading, #postCardQuote {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#postCard-Heading {
    padding: 2rem 10rem;
}

body {
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 200vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: green;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  justify-content: center;
  align-items: center;
}

.cta {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-btn:hover {
    background-color: darkgreen;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 25px;
}

.cta-btn {
    background-color: green;
    margin: 0 3rem;
    padding: 5px 30px;
}

.btn:hover {
  background-color:orange;
}

.start-btn, .next-btn, .submit-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.btn.correct {
    background-color: orange;
}

.btn.wrong {
    background-color: darkgreen;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.postCard-1 {
    background-image: url('images/card-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.postCard-2 {
    background-image: url('images/card-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.postCard-3 {
    background-image: url('images/card-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.postCard-4 {
    background-image: url('images/card-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.postCard-5 {
    background-image: url('images/card-5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.postCard-6 {
    background-image: url('images/card-6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    width: 720px;
    transition: ease-in;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/* Background Styles Only */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
    overflow-x: hidden;
}

