@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/*--------------made slava-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(229,99,23, 0.9);
    z-index: 2;
}


.header-body {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    flex: 0 0 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 230px;
    position: relative;
    z-index: 3;
}

.logo img {
    max-width: 100%;
    text-align: center;
    display: block;
}

.menu-list {
    display: flex;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.menu-list li {
    list-style: none;
    margin-left: 16px;
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.menu-item a:hover{
    color: #09B022;
    transition: all 0.3s ease-in-out;

}

.burger {
    display: none;
}

@media (max-width:767px) {
    .body {
        overflow: hidden;
    }

    .header-body {
        height: 60px;
    }
    
    .burger {
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
        z-index: 3;
        cursor: pointer;
    }

    .burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 3px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .burger::before,
    .burger:after {
        content: '';
        position: absolute;
        width: 100%;
        background-color: #fff;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger::before{
        top:0;
    }
    .burger:after {
        bottom: 0;
    }

    .burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        
    }

    .burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger.active span {
        transform: scale(0);
    }

    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(229,99,23, 1);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }

    .menu.active {
        top:0;
        
    }

    .logo {
        margin-left:0;
        z-index: 5;
        position: relative;
        flex: 0 0 50px;
    }

    .menu-list {
        display: block;
        padding-left: 0px;
    }

    .menu-list li {
        margin-bottom:20px;
        padding-top: 30px;
        text-align: center;
    }
}

/*Toggle button*/
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.toggle {
  height: 30px;
  width: 50px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #fff;
  background: rgb(150, 146, 146);
  transition: all 0.2s ease;
  z-index: 3;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  background: #09B022;
}
.toggle:checked:after {
  transform: translatex(20px);
}

.hero {
    padding-top:6rem;
}

.section-heading {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    color:#E56317;
    text-transform: uppercase;
}

.block {
    margin: 40px 0;

}

.about-link{
    text-decoration: none;
    color: #E56317;
}

.about-link:hover {
    color: #E56317;
    font-weight: 600;
}


.paddy_img img {
    max-width: 100%;
    height: auto;
}

@media (max-width:767px) {
    .block {
    margin: 10px 0;
}

}

/*---------Footer-----------*/
#footer{
    display: block;
    height: 70px;
    width:100%;
    background-color: rgba(229,99,23, 1);
   
}
#footer ul{
    display: flex;
    justify-content: center;
    
    padding-top: 5px;
    margin-bottom: 0;
    list-style: none;
}

.sm-icon {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 3rem;
    text-decoration: none;
    color: #f9f8f6;
}

.sm-icon a {
    color: #fff;
    font-size: 1.7rem;
    border-radius: 50%;
    border: solid #fff;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: inline-block;

}   
.sm-icon a:hover,
.sm-icon a:focus {
    background-color: #fff;
    color: #09B022;
    transition: all 0.2s ease-in;
}


/*---------Media Footer -----------*/
@media screen and (max-width: 300px){
#footer ul li{
    font-size: 25px;
}
#footer ul{
text-align: center;
padding-left: 0px;
padding-top: 10px;

}
}

/*Toggle color*/
.paddy_green {
    background-color: rgba(0,154,68, 1);
    color: #fff;
   /*--------End--Slava--------*/
}/*--------landing-page julinan--------*/
body h1, h2, h3, h4, h5, h6 {
   font-family: 'Cabin', sans-serif;
}

p{
   font-family: 'abel', sans-serif; 
}

/*-------------landing Page----------------*/
#main-image{
   background-image: url("/images/irish.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px; 
}

.half-white{
   height: 820px;
   width: 50%;
   background-color: rgba(252, 249, 249, 0.9);
   float: right;
   position: relative;
}

.text-image{
    text-align: center;
    margin: 90px 40px 10px 40px;
}

.mute{
    text-align: center;
    margin: 10px 40px 40px 40px;
}

hr:not([size]) {
    height: 10px;
}

hr {
    margin: 0;
    color: inherit;
    background-color:rgb(226, 184, 66);
    border: 0;
    opacity:1;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

#main-image h6 {
    color:rgb(88, 88, 97);
}

#main-image .btn-primary {
    background-color: rgb(40,174,96);
    border-color: rgb(24, 131, 69) ;
   
}
button{
    margin-left: 43%;
}
/*---------Media landing page-----------*/

@media screen and (max-width: 800px){
.half-white{
   height: 410px;
   width: 100%;
   background-color: rgba(252, 252, 252, 1);
   top: 365px;
   position: absolute;
}

.intro-text{
    height: 100px;
    width: 100%;
}

.text-image{
    text-align: center;
    margin: 30px;
}

#main-image{
     height: 360px;
}
button{
text-align: center;
}
}
/*-------End landing page julian-------*/
/*--------------*/
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto&display=swap');

html {
    height: 117vh;
}

body{
    background-size: cover;
    background-position: 0%;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;   
    padding: 0;
}
.postCard-1 {
    background-image: url('./images/card-1.jpg')
}
.postCard-2 {
    background-image: url('./images/card-2.jpg')
}
.postCard-3 {
    background-image: url('./images/card-3.jpg')
}
.postCard-4 {
    background-image: url('./images/card-4.jpg')
}
.postCard-5 {
    background-image: url('./images/card-5.jpg')
}
.postCard-6 {
    background-image: url('./images/card-6.jpg')
}
.btns {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.post-card{
    width: 500px;
    height: 680px;
    background-color: #fafafa;
    opacity: 0.8;
    transform:translate(-50%, -50%);
    position:absolute;
    padding:12px;
    left:50%;
    top:58%;
    border-radius: 2%;
}
.contactForm {
    background: #000000;
    padding: 15px;
    opacity: 0.7;
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 430px;
}
.contactForm .inputBox {
    width: 290px;
}
.contactForm .submit {
    margin-top: 10px;  
    color: #fafafa;
}
.contactForm .inputBox input {
    width: 137%;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 3px solid #000000;
}
.contactForm .inputBox textarea {
    width: 137%;
    padding: 10px;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 1px solid #000000;
}
.contactForm .inputBox span {
    color: #fafafa;
    font-size: 18px;
    background-color: #000000;
}
.contactForm .submit button.btn:hover {
    color: #000000;
}
.btn.btn-outline-light{
    margin: 0 100px;
}
h1.post-card_title{
  font-family: 'La Belle Aurore', cursive;
  padding: 3px;
  font-size: 25px;
}
.text-center{
  width:calc(100%);
  font-size:15px;
  line-height:1.8;
  float:left;
  word-spacing: 3px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}
.content{
  width:50%;
  float:left;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}






